@import url(//db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

* {
    font-family: Bahnschrift;
}

.dropbtn{
    z-index: 99;
    padding-bottom: 0.3cm;
    float: right !important;
}

.iconFan {
    text-align: left;
    float: left;
    position: static;
    z-index: 99;
}

.iconFanh3 {
    float: left;
    margin-top: 0.6cm;
    z-index: 10;
}

.iconMenu {
    text-align: right !important;
    position: static !important;
    z-index: 98;
}