@import url(//db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

* {
    font-family: Bahnschrift;
}

.main-content {
    height: 430px;
}

.titleYokai h1 {
    margin-top: 3.5mm;
    line-height: 55px;
    text-align: left !important;
    margin-right: 26cm;
}

.titleYokai h1:hover {
    text-shadow: 4px 4px 10px black;
    letter-spacing: 2mm;
}

.text {
    font-size: 15pt;
}

.textFirst {
    text-align: center;
    margin-bottom: 0.5cm;
    font-size: 17pt;
}

.iconMenu {
    text-align: center;
    margin-top: 3mm;
    padding: 2mm;
    border-radius: 2mm;
    background-color: rgb(44, 44, 44)
}

.iconMenu img {
  border-radius: 2mm;
  padding: 2mm;
}

.iconMenu img:hover {
    box-shadow: 5px 5px 2px rgb(70, 70, 70);
    background-color: rgb(64, 64, 64)
}

.viewBox {
    background-color: rgb(59, 59, 59) ;
    text-align: center;
    border-radius: 2mm;
    margin: 2mm;
    vertical-align: middle !important;
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
}


.viewStatus:hover,
.viewCam:hover,
.viewProfile:hover,
.viewFan:hover {
    background-color: rgb(83, 83, 83) ;
    font-weight: bolder;
    box-shadow: 5px 5px 2px rgb(68, 68, 68);
}

.viewStatus:hover, .viewCam:hover, .viewProfile:hover, .viewFan:hover {
    height: 160px;
}

.viewFan img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.viewFan:hover img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.viewStatus:hover img, .viewCam:hover img, .viewProfile:hover img {
    width: 40%;
    height: 70%;
}

.alertBlock > table {
    text-align: center !important;
    width: 100%;
}

.activeButton {
    background-color: green;
    border-style: none;
    border-radius: 2mm;
    padding: 0.7mm !important;
}
